.card-title{
    font-weight: bold;
    font-size: large;
    font-family: 'Poppins';
    width: 80%;
    padding: 3px;
    margin: 3px;
}
.card-button{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border: none;
    text-align: end;
    color: gray;
    width: 100%;
}
.card-button > a{
    font-size: small;
    font-weight: bold;
    padding: 2px;
    color : #282828BF
}