.root{
    background-color: #0000000D;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: auto;
}

.page {
    flex: 1 0 80%;
}

.button-panel{
    text-align: left;
    padding: 5px;
    font-weight: bold;
}

.searchwrapper{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 8px;
    width: 100%;
    text-align: center;
}

.main-logo{
    max-width: 100px;
    padding: 20px;
}

.link{
    font-family: 'Poppins';
    font-weight: bold;
    color: black;
}
.link:hover{
    color: #73d6d5;
    transition: 0.4s ease;
}