.root{
    background-color: #0000000D;
    display: flex;
    flex-wrap: wrap;
}

.page {
    flex: 1 0 80%;
}

.button-panel{
    text-align: left;
    padding: 2px;
}
.searchwrapper{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 8px;
    width: 100%;
    text-align: center;
}

.main-logo{
    max-width: 100px;
    padding: 20px;
}